@model IEnumerable<Projeto.Models.Medico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cidade.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especialidade.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="color:white; background-color: dimgrey; ">
            <td>
                @Html.DisplayFor(modelItem => item.Cidade.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidade.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MedicoId }) |
                @Html.ActionLink("Details", "Details", new { id = item.MedicoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MedicoId })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Voltar para página de administração", "Adm", "Home")
    <p><a class="btn btn-default" href="~/Medicos/Create">Voltar</a></p>
</div>

