<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Médicos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-image: url('https://www.diplomaticourier.com/wp-content/uploads/2018/04/bigstock-Medical-Background-Healthcar-224963809-e1524310270876.jpg'); background-repeat: no-repeat; background-size:cover; background-position: center center; background-attachment: fixed;">
    <div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Meu Médico", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Início", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sobre", "Sobre", "Home")</li>
                    <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                    @*<li>@Html.ActionLink("Acesso Administrativo","Adm", "Home")</li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Alterar Senha", "AlterarSenha", "Perfil")</li>
                        <li>@Html.ActionLink("Sair", "Sair", "Clientes")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Clientes")</li>

                        <li>@Html.ActionLink("Cadastre-se", "Create", "Clientes")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Médico</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
